@import "../../css/defs.css";
@import "../../css/forms.css";


footer {
  color: #AAA;
  font-size: 0.9rem;
  width: 100%;
  text-align: center;

  a {
    color: #AAA;
  }
}

#app-container {
  height: 100%;
}

#app-container {
  display: flex;
  flex-direction: column;

}

.content {
  flex: 1;

  display: flex;
  justify-content: center;
  align-content: center;
}

