@import '../../../css/defs.css';


header {
  color: #FFF;
  background-color: $primary-color;
  border-bottom: 1px solid color($primary-color lightness(-20%));
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0.75rem 0.5rem;

  a,
  button {
    color: #FFF;
    text-decoration: none;
  }

  nav {
    display: block;
  }

  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
  }

  li {
    display: inline-block;
    padding-right: 1rem;

    &::after {
      border-right: 1px solid #FFF;
      content: "";
      padding-left: 1rem;
      width: 1px;
    }

    &:last-child {
      padding-right: 0;
    }

    &:last-child::after {
      content: none;
    }
  }
}
