@import "./defs.css";

body {
  background-color: #eee;
}

#content {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
}

input {
  border: 1px solid rgb(204, 204, 204);
  padding: 0.5em;
}

input[type="submit"],
input[type="button"],
button {
	border-radius: $input-border-radius;
  cursor: pointer;

  &.button--primary {
    background-color: $button-primary-bg-color;
    color: #fff;

    &:hover {
      background-color: $button-primary-bg-color-hover;
    }
  }

}