 @import "../../defs.css";

.login-form {
  align-self: center;
  font-size: 13pt;

  h2 {
   text-align: center;
  }

  input {
    display: block;

    &:focus {
      border-color: $button-primary-bg-color;
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px color( rgb($button-primary-bg-color, 10) );
      outline: 0;
    }

    &[type="email"] {
      border-radius: $input-border-radius $input-border-radius 0 0;
      margin-bottom: -1px;
    }

    &[type="password"] {
      border-radius: 0 0 $input-border-radius $input-border-radius;
      margin-bottom: 0.5em;
    }

    &[type="email"],
    &[type="password"] {
      position: relative;

      &:focus {
        z-index: 2;
      }
    }

    &[type="submit"] {
      margin-top: 0.5em;
      width: 100%;
    }
  }
  
  label {
    display: block;

    input {
      display: inline-block;
      margin-right: 0.5em;
      position: relative;
      bottom: 1px;
    }
  }
}