@import './defs.css';


$input-border-radius: 7px;
$z-index-focus-input: 2;
$z-index-error-bg: 3;
$z-index-error-fg: 4;

fieldset.joined-fields {
  border: none;
  padding-left: 0;
  padding-right: 0;

  input {
    display: block;
    outline: 0;
    position: relative;

    &:focus {
      z-index: $z-index-focus-input;
    }

    &.error:focus + .joined-fields__row__errors {
      display: block;
    }
  }

  .joined-fields__row {
    position: relative;

    &:first-child input {
      border-radius: $input-border-radius $input-border-radius 0 0;
    }

    &:last-child input {
      border-radius: 0 0 $input-border-radius $input-border-radius;
    }

    &:not(:last-child) {
      margin-bottom: -1px;
    }
  }

  .joined-fields__row__errors {
    background: #333;
    border: 1px solid $error-fg-color;
    color: #FFF;
    display: none;
    filter: drop-shadow(0 0 0.25rem $error-fg-color);
    left: 100%;
    margin: 0;
    min-height: 2rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 17.5rem;
    z-index: $z-index-error-bg;

    &::before, &::after {
      border-style: solid;
      border-color: transparent;
      content: "";
      height: 0;
      position: absolute;
      pointer-events: none;
      width: 0;
      right: 100%;
    }

    &::before {
      border-width: 12px;
      border-right-color: $error-fg-color;
      top: 50%;
      z-index: 10;
      margin-top: -12px;
    }

    &::after {
      border-width: 10px;
      border-right-color: #333;
      top: 50%;
      margin-top: -10px;
      z-index: 11;
    }

    li {
      list-style: none;
    }
  }
}

form p.errors {
  text-align: center;
}

input {
  border: 1px solid #CCC;
  color: $primary-color;
  outline: none;
  padding: 0.5rem;

  &[type="checkbox"]:focus {
    box-shadow: 0 0 8px color($primary-color a(25%));
    filter: drop-shadow(-1px -1px 0px color($primary-color a(50%)))
            drop-shadow(-1px  1px 0px color($primary-color a(50%)))
            drop-shadow( 1px -1px 0px color($primary-color a(50%)))
            drop-shadow( 1px  1px 0px color($primary-color a(50%)));
  }

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 8px color($primary-color a(90%));
  }

  &:invalid:not(:focus) {
    box-shadow: unset;
  }

  &.error {
    color: $error-fg-color;
  }
}

input[type="submit"],
input[type="button"],
button {
  border-radius: $input-border-radius;
  cursor: pointer;

  &.button--primary {
    background: $primary-color;
    color: #FFF;

    &:hover {
      background: color($primary-color lightness(-10%));
    }
  }

  &.button--disabled {
    background: #DDD;
    color: #CCC;
  }
}

label {
  display: block;

  input {
    display: inline-block;
    margin-right: 0.5em;

    &[type="checkbox"] {
      position: relative;
      bottom: 1px;
    }
  }
}
