@import "../../css/defs.css";


.login-form {
  align-self: center;
  font-size: 1.1rem;

  h2 {
    text-align: center;
  }

  input {
    &[type="text"],
    &[type="password"] {
      width: 20rem;
    }

    &[type="submit"] {
      margin-top: 0.5rem;
      width: 100%;
    }
  }

  fieldset {
    padding: 0;
    margin-bottom: 0.5rem;
  }

  label {
    display: block;
    margin-left: 3px;

    input {
      display: inline-block;
      margin-right: 0.5rem;
      position: relative;
      bottom: 1px;
    }
  }
}
